.col-centered{
    float: none;
    margin: 0 auto;
}


.content {
font-family: georgia,"times new roman",times,serif;
font-size: 1.7rem;
line-height: 1.8rem;
letter-spacing:1px;
text-align: justify;
font-style: normal;
color: #131516
}


.text-small {
  font-family: georgia,serif;
  font-size: 15;
  line-height: 10px;
  letter-spacing:1px;
  text-align: justify;
  color: #131516
}

.titlereader {
font-family:Georgia,serif;
color:#666666;
font-size:20px;
line-height: 30px;
margin:0 0 0 60px;
}

#rcorners3 {
    border-radius: 10px;
    background: #ffffff;
    padding: 2%;
    width: 100%;
    height: auto;
    margin: 1% 0 1% 0;
}

#rcorners {
    border-radius: 10px;
    background: #e3e7e7;
    padding: 2px 20px 0 20px;
    width: 90%;
    height: auto;
    margin: 0  5% 0 5%;
}


.titlesmall {
font-family:Georgia,serif;
color:#666666;
font-size:15px;
line-height: 30px;
margin:0 10px 0 0;
}


.aspect {
font-family: georgia,serif;
font-size: 15px;
color: #589983
}

.sliderIntensity {
    margin: -20px 300px;
}


.sliderValue {
border:0;
color:#f6931f;
font-weight:bold;
margin: 0px 200px 0px 0px;
width: 100px;
}

.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}
