extends layout

block content
  script(type="text/javascript" src="js/saveform.js")

  form(class="form-group" action="/savejudgement" id="formjudge" method="post")
    div(class="form-group")
      div(id = "rcorners")
            p(align="justify" style="font-size: medium")
              |From books and movies to plumbers and hotels, reviewing a product or service can be a useful skill. Reviews allow a consumer to share their opinion of a product or service, and others can glean information from that review to make an informed decision about whether or not to try out the product or service.

            p(align="center" style="font-size: medium")
              |In a review a hotel can be described by feature like: Location, Sleep Quality, Rooms, Service, Value, Cleanliness, Food.
              ul
                 li(style="font-size: medium") <b> Location </b>: "The location is fantastic".
                 li(style="font-size: medium")  <b>Food</b>: "Breakfasts in Manhattan can easily cost $10/person in the hotel is free".
                 li(style="font-size: medium")  <b>Rooms</b>: "The room have good size".
                 li(style="font-size: medium")  <b>Sleep Quality</b>: "The mattress is very comfortable the pillows are little old".

            p(align="justify" style="font-size: large")
              |In the next pages you will read some reviews about hotels !!!
              ul
                li(style="font-size: large") Mark the features commented in the review.
                li(style="font-size: large") Say how important is each features for the reviewer(author).
            p(align="justify")
              |The first two reviews are just for you to train!!!
            p(align="justify")
              |In the button Save and Exit you can save and continue latter.
            p(align="justify")
              |In the button next you save and go to the next.
            p(align="justify")
              |There are 16 reviews it's take around 20 minutes.
              input(id="id", type="hidden", name="id", value=id)
              input(id="judge",type="hidden", name="judge", value=judge)
              div(class="row" style="height: 50px")
                div(class="form-group" style="height: 50px")
                  div(class="col-sm-12")
                  p(align="center")
                    input(type="submit" class="btn btn-default" onclick="instructions()" value="I understood.")
