doctype html
html
  head
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/experimental.css')
    link(rel='stylesheet', href='css/rateit.css')
    link(rel='stylesheet', href='css/jquery-ui.css')
    script(type='text/javascript' src='js/jquery-1.12.4.min.js')
    script(type='text/javascript' src='js/bootstrap.min.js')
    script(type='text/javascript' src='js/jquery.rateit.min.js')
    script(type='text/javascript' src='js/jquery-ui.js')


    block title
      title #{title}
  body
      nav(class="navbar navbar-default")
        span(class="glyphicon glyphicon-user" style="margin: 0px 0 10px 10px;") #{user}
        a(onclick="showInstructions()" style="margin: 3px 0 0 10px;")
           span(class="glyphicon glyphicon-question-sign") Help
        ul(class="nav navbar-nav navbar-right" style="margin: 0 0 0 10px;")
          li
            a(onclick="exitWithOutSave()")
              span(class="glyphicon glyphicon-log-in") Exit

      div(class="container")
        block content
      div(class="panel-footer")
        p(align="center") For help, problems or  questions: diego.bonesso@gmail.com
