extends layout_login
block content

    script(type='text/javascript' src='js/jquery.validate.js')
    script(type='text/javascript' src='js/additional-methods.js')
    link(rel='stylesheet', href='css/bootstrap-combined.min.css')
    script(type="text/javascript" src="js/validate_form.js")
    div(class="panel-body")
      div(style = "margin:10%  20% 0 20%;")
        form(class="form-horizontal" action="/login", method="post" id="login-form")
            div(class="control-group")
              div(class="form-group")
                div(class="row")
                   div(class="col-sm-4")
                        label(class="control-label" for="email") Email
                   div(class="col-sm-4")
                        input(type="text" name="email" class="form-control",placeholder="Your email address" id="email")
                div(class="row")
                   div(class="col-sm-4")

                   div(class="col-sm-4")
                        input(type="submit" class="btn btn-default" value="Confirm")
