extends layout

block content
       script(type="text/javascript" src="js/saveform.js")
       script(type="text/javascript" src="js/sliders.js")

       div(id = "rcorners")
        form(class="form-group" action="/savejudgement" id="formjudge" method="post" )
          div(class="form-group")
              p  #{analyzed} / #{countTotal}
              if trained == "false"
                h4 This review is just for you to train.
                a(href='instructions') Instructions
              else
                h4 Read with attention if you need you can read the instructions again.
                a(href='instructions') Instructions
              div(id="rcorners3",class="content")
                Review: |#{content}
                p
                |author: #{author}
                if stars == "true"
                  span |overall: #{overall}
                  div(class="rateit" data-rateit-value=overall data-rateit-ispreset="true" data-rateit-readonly="true" style="margin: 0 0 0 10px;")


                input(id="id", type="hidden", name="id", value=id)
                input(id="judge",type="hidden", name="judge", value=judge)
                input(id="weightvalue",type="hidden", name="weightvalue" )
                input(id="weightlocation",type="hidden", name="weightlocation")
                input(id="weightroom",type="hidden", name="weightroom")
                input(id="weightclean",type="hidden", name="weightclean")
                input(id="weightservice",type="hidden", name="weightservice")
                input(id="weightfacility",type="hidden", name="weightfacility")
                input(id="weightsleep",type="hidden", name="weightsleep")
                input(id="weightfood",type="hidden", name="weightfood")

              div(class="row")
                div(class="col-sm-6")
                        div(class="row" style="height: 30px")
                          label
                            |Check the aspects(features) commented in the text?
                        div(class="row" style="height: 30px;background-color: #a4cece")
                          div(class="checkbox titlesmall" )
                            Label(style="margin: 0 0 0 4px;")
                              input(type="checkbox", name="value",id="value", checked=false, onchange="checkPrice(this)")
                              |Price (e.g Price, money, cheap, etc.)
                        div(class="row" style="height: 30px")
                          div(class="checkbox titlesmall" )
                            Label(style="margin: 0 0 0 4px;")
                              input(type="checkbox", name="location",id="location", checked=false, onchange="checkLocation(this)")
                              |Location (e.g distance, near, far, subway, etc.)
                        div(class="row" style="height: 30px;background-color: #a4cece")
                          div(class="checkbox titlesmall")
                            Label(style="margin: 0 0 0 4px;")
                              input(type="checkbox", name="room",id="room", checked=false, onchange="checkRoom(this)")
                              |Room (e.g room, size, bathroom, bath, etc.)
                        div(class="row" style="height: 30px")
                          div(class="checkbox titlesmall" )
                            Label(style="margin: 0 0 0 4px;")
                              input(type="checkbox", name="clean",id="clean", checked=false, onchange="checkClean(this)")
                              |Clean (e.g: Cleanliness, cleaning, smell, smoke, etc.)
                        div(class="row" style="height: 30px;background-color: #a4cece")
                          div(class="checkbox titlesmall")
                            Label(style="margin: 0 0 0 4px;")
                              input(type="checkbox", name="service",id="service", checked=false, onchange="checkService(this)")
                              |Service (e.g staff, reception, check-in, checkout, bartender)
                        div(class="row" style="height: 30px")
                          div(class="checkbox titlesmall")
                            Label(style="margin: 0 0 0 4px;")
                              input(type="checkbox", name="sleep",id="sleep", checked=false, onchange="checkSleep(this)")
                              |Sleep Quality (e.g bed, bedroom, pillow, sofa, linen)
                        div(class="row" style="height: 30px;background-color: #a4cece")
                          div(class="checkbox titlesmall")
                            Label(style="margin: 0 0 0 4px;")
                              input(type="checkbox", name="facility",id="facility", checked=false, onchange="checkFacility(this)")
                              |Facility (e.g wifi, pool, gym, business)
                        div(class="row" style="height: 30px")
                          div(class="checkbox titlesmall")
                            Label(style="margin: 0 0 0 4px;")
                              input(type="checkbox", name="food",id="food", checked=false, onchange="checkFood(this)")
                              |Food (e.g breakfast,salad, restaurant, meal, bar)
                div(class="col-sm-6")
                        div(class="row" style="height: 30px")
                        div(class="row" style="height: 30px;background-color: #a4cece")
                          div(id="divprice")
                            label(for="inputPrice" ) Importance for the author:
                            input(type="text" id="inputPrice" readonly  class="sliderValue" style="background-color :  #a4cece;")
                            div(id="sliderPrice" class="sliderIntensity")
                        div(class="row" style="height: 30px")
                           div(id="divlocation")
                            label(for="inputLocation" ) Importance for the author:
                            input(type="text" id="inputLocation" readonly  class="sliderValue" style="background-color :  #e3e7e7;")
                            div(id="sliderLocation" class="sliderIntensity")
                        div(class="row" style="height: 30px;background-color:#a4cece")
                           div(id="divroom")
                            label(for="inputRoom" ) Importance for the author:
                            input(type="text" id="inputRoom" readonly  class="sliderValue" style="background-color :  #a4cece;")
                            div(id="sliderRoom" class="sliderIntensity")
                        div(class="row" style="height: 30px")
                          div(id="divclean")
                            label(for="inputClean" ) Importance for the author:
                            input(type="text" id="inputClean" readonly  class="sliderValue" style="background-color :  #e3e7e7;")
                            div(id="sliderClean" class="sliderIntensity")
                        div(class="row" style="height: 30px;background-color: #a4cece")
                           div(id="divservice")
                            label(for="inputService" ) Importance for the author:
                            input(type="text" id="inputService" readonly  class="sliderValue" style="background-color :  #a4cece;")
                            div(id="sliderService" class="sliderIntensity")
                        div(class="row" style="height: 30px")
                           div(id="divsleep")
                            label(for="inputSleep" ) Importance for the author:
                            input(type="text" id="inputSleep" readonly  class="sliderValue" style="background-color :  #e3e7e7;")
                            div(id="sliderSleep" class="sliderIntensity")
                        div(class="row" style="height: 30px;background-color: #a4cece ")
                           div(id="divfacility")
                            label(for="inputFacility" ) Importance for the author:
                            input(type="text" id="inputFacility" readonly  class="sliderValue" style="background-color :  #a4cece;")
                            div(id="sliderFacility" class="sliderIntensity")
                        div(class="row" style="height: 30px")
                           div(id="divfood")
                            label(for="inputFood" ) Importance for the author:
                            input(type="text" id="inputFood" readonly  class="sliderValue" style="background-color :  #e3e7e7;")
                            div(id="sliderFood" class="sliderIntensity")
              div(class="row" style="height: 50px")
                       div(class="form-group" style="height: 50px")
                            div(class="col-sm-6")
                              p(align="left")
                                input(type="submit" class="btn btn-default" onclick="saveAndExit()" value="Save and Exit")
                            div(class="col-sm-6")
                              p(align="right")
                                input(type="submit" class="btn btn-default" value="Next"  onclick="return save()")
