extends layout

block content
  script(type="text/javascript" src="js/saveform.js")

  form(class="form-group" action="/thankyou" id="formjudge" method="post")
    div(class="form-group")
      div(id = "rcorners")
            p
              h4 What do you think about this task?
              h4 Is it well defined and clear?
              h4 Do you have any suggestion?
              p(align="center")
                h4 If you want to annotate more data after confirming just authenticate again !!!
              div(class="row" style="height: 200px")
                p(align="center")
                  input(id="judge",type="hidden", name="judge", value=judge)
                  textarea(id="suggestion" rows="4" cols="100" name="suggestion")
                div(class="form-group" style="height: 200px")
                  div(class="col-sm-12")
                   p(align="center")
                    input(type="submit" class="btn btn-default" onclick="saveSuggestion()" value="Confirm.")
